/* magnific-popup.css | /assets/css/display-gallery/magnific-popup.css?ver=5.5.13 */
/* Start rtl Style by Mehr.ban@Chmail.ir */
.rtl .mfp-content {
  text-align: right;
}

.rtl ul.jaofiletree li ul li {
  margin-right: 10px;
  margin-left: auto;
}
/* End rtl Style by Mehr.ban@Chmail.ir */
