
/* style.css | /assets/wordpress-css-framework/css/style.css?ver=5.5.13 */
/* Start rtl Style by Mehr.ban@Chmail.ir */
.rtl .ju-switch-button {
  margin-left: 30px;
  margin-right: 10px;
}

.rtl .ju-setting-label {
  max-width: calc(100% - 115px);
}
.rtl .ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab a.link-tab:after {

    left: auto;
    right: 15px;
}
/* End rtl Style by Mehr.ban@Chmail.ir */
