/* jaofiletree.css | /assets/css/jaofiletree.css?ver=5.5.13 */

.rtl ul.jaofiletree li.drive {
  padding-right: 15px;
  padding-right: unset;
}

.rtl ul.jaofiletree li ul li {
  margin-right: 10px;
  margin-left: auto;
}
