/* jaofiletree.css | /assets/css/jaofiletree.css?ver=5.5.13 */
/* Start rtl Style by Mehr.ban@Chmail.ir */
.rtl ul.jaofiletree li.drive {
  padding-right: 15px;
  padding-right: unset;
}

.rtl ul.jaofiletree li ul li {
  margin-right: 10px;
  margin-left: auto;
}
.rtl .wpmflocaltree, #wpmfcloudtreeimport {
  border-right: 2px solid #49bf88;
  float: right;
  border-left: none;
}

.rtl ul.jaofiletree li {
  padding: 0 8px 0 0;
}

.rtl .icon-open-close {
  float: right;
}

.rtl .jaofiletree .zmdi-folder-outline {
  margin-right: 4px;
  margin-left: auto;
}

.rtl ul.jaofiletree a.title-folder, .title-wpmfaddFolder {
  padding: 0 5px 0 0;
}
.rtl .wpmflocaltree .pure-checkbox input[type="checkbox"] + label::after {
  right: 4px;
  left: auto;
}
/* End rtl Style by Mehr.ban@Chmail.ir */
