/* setting_style.css | /assets/css/setting_style.css?ver=5.5.13 */
/* Start rtl Style by Mehr.ban@Chmail.ir */
.rtl .top_bar h1 {
  float: right;
}

.rtl .top_bar .btn_wpmf_saves, .top_bar .btn_wpmf_saves #btn_wpmf_save {
  float: left;
}

.rtl .ju-settings-option {
  float: right;
  margin-left: 15px;
  margin-right: auto;
}

.rtl .wpmf_row_full .text {
  float: ;
}

.rtl .ju-setting-label {
  padding-right: 20px;
  padding-left: unset;
}

.rtl .m-r-0 {
  margin-left: 0;
  margin-right: auto;
}

.rtl .wpmf_left {
  float: right;
}

.rtl .div_list_child {
  right: 0;
  left: auto;
}

.rtl .accordion-section.open .zmdi-chevron-up {
  float: left;
}

.rtl .accordion-section .zmdi-chevron-down {
  float: left;
}

.rtl .pure-checkbox input[type="checkbox"] + label {
  padding-right: 2em;
  padding-left: unset;
}

.rtl .pure-checkbox input[type="checkbox"] + label::before {
  right: 5px;
  left: auto;
}

.rtl .pure-checkbox input[type="checkbox"] + label::after {
  right: 9px;
  left: auto;
}

.rtl .label_text_bold {
  margin-left: 10px;
  margin-right: auto;
}

.rtl .wpmf_text_right {
  text-align: left;
}

.rtl .description {
  text-align: right;
}

.rtl .content_list_padding span {
  float: right;
}

.rtl .wrap_left {
  float: right;
}

.rtl .wpmfcard {
  margin-right: -10px;
  margin-left: auto;
}

.rtl .radio {
  float: right;
  padding: ;
}

.rtl .wpmf_copy_shortcode {
  left: 0;
  right: auto;
}

.rtl .wpmf_right {
  float: left;
}

.rtl .p-r-20 {
  padding-left: 20px;
  padding-right: unset;
}

.rtl ul.jaofiletree li {
  padding: 0 0 0 20px;
}

.rtl .icon-open-close {
  float: right;
}

.rtl #wpmf_patern {
  margin-right: 20px;
  margin-left: auto;
}

.rtl .wrap_right {
  float: left;
}

.rtl .jaofiletree .zmdi-folder, .jaofiletree .zmdi-folder-outline {
  margin-right: 4px;
  margin-left: auto;
}

.rtl .jaofiletree li.directory span.check {
  margin-left: 10px;
  margin-right: auto;
}

.rtl .input_dir .dir_name_ftp {
  float: right;
}

.rtl .input_dir .dir_name_categories {
  float: left;
}

.rtl .wrap_dir_name_ftp {
  float: right;
}

.rtl .wrap_dir_name_categories {
  float: left;
}

.rtl .wpmf-folder-tree ul {
  padding-right: 20px;
  padding-left: unset;
}

.rtl .wpmf-folder-tree .wpmf-no-arrow {
  margin-left: 20px;
}

.wpmf-folder-tree .material-icons {
  /* margin-right: auto; */
}

.rtl .delete-syncftp-item {
  margin-right: 5px !important;
  margin-left: 5px;
}

.rtl .right-checkbox {
  float: left;
  padding-left: 30px;
  padding-right: unset;
}
/* End rtl Style by Mehr.ban@Chmail.ir */
