/* style.css | /assets/css/style.css?ver=5.5.13 */
/* Start rtl Style by Mehr.ban@Chmail.ir */
@import url('https://v1.fontapi.ir/css/Estedad:400;500;600;700;800;900');
.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6, .rtl div, .rtl input, .rtl label, .rtl button, .rtl ul, .rtl li, .rtl a, .rtl select, .rtl option{
    font-family: Estedad, sans-serif !important;
    letter-spacing: normal !important;
}

.rtl .wpmf-dialog-container #negative {
  margin-left: 10px !important;
  margin-right: auto;
}

.rtl .wpmf-contextmenu li .items_menu, .wpmf-contextmenu .submenu li .items_menu {
  text-align: right !important;
}

.rtl .wpmf_icon {
  float: right;
  margin-left: 10px;
  margin-right: auto;
}

.rtl .delete_role_permissions {
  left: -40px;
  right: auto;
}

.rtl .wpmf_icon_remote_video, .wpmf_btn_upload_folder {
  margin-left: auto;
  margin-right: 5px;
}
.rtl .wpmf-sorts-dropdown {
    margin-right: 8px;
}

.rtl .wpmf-dialog-container h5 {
  text-align: right;
}

.rtl .wpmf-item > .wpmf-item-inside > a[data-id="0"] > .wpmf-item-title {
  text-align: right;
}

.rtl .wpmf-attachment .mdc-list-item__text {
  text-align: justify;
}

.rtl .wpmf-snackbar-wrapper {
  left: 20px;
  right: auto;
}

.rtl .wpmfclosedlg {
  right: auto;
  left: 10px;
}
.rtl .wpmfjaoassign_row {
  float: right;
}

.rtl .wpmfjaoassign_row .wpmfjaoassign_right {
  text-align: right;
  float: right;
}

.rtl .open-popup-tree span, .open-popup-tree-multiple span {
  margin-left: 5px;
  margin-right: auto;
}

.rtl .wpmflocaltree .pure-checkbox input[type="checkbox"] + label {
  padding-right: 2em;
  padding-left: unset;
}

.rtl .wpmflocaltree .pure-checkbox input[type="checkbox"] + label::before {
  right: 0;
  left: auto;
}
/* End rtl Style by Mehr.ban@Chmail.ir */
